body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure a{
  margin: 0;
  padding: 0; }
body{
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background: lightgreen;
	background-size:cover;
	background-image: url(../img/index1.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  user-select:none;
}

body {
  position: relative;
  top: 0;
  left: 0;
  /*transform:rotate(180deg);*/
  background: #000;
  background-image: radial-gradient(2px 2px at 147px 60px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 19px 238px, #c0c0c0, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 206px 207px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 239px 266px, #c0c0c0, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 310px 282px, #c0c0c0, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 171px 141px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 271px 124px, #c0c0c0, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 110px 232px, #c0c0c0, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 81px 37px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 10px 105px, #c0c0c0, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 107px 131px, #fff, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 314px 314px;
  perspective: 100px;
  transform-style: preserve-3d;
}
.blog{
	display: block;
	opacity: .6;
	color:black;
    min-width:260px;
	position: absolute;
	z-index: 999;
	top:55px;
	left:60.3%;
	font:bold 60px 微软雅黑;
	cursor:pointer;
}
canvas{
	cursor:pointer;
}
.pi {
  position: absolute;
  color: red;
  font-size: 31.4px;
  font-family: 'Times new roman', Times, serif;
  animation: flyby 3.14s linear infinite;
}

@keyframes flyby {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, -50px);
  }
  30% {
    opacity: 0;
    transform: translate3d(0, 0, -50px);
  }
  35% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 100px);
  }
}





