---
title: 首页
layout: page
---
<div class="col-lg-3 col-md-3 col-sm-3">
  <div id='tag_cloud'>
{% for cat in site.categories %}
<a class="tagstyleIndex" href="{{ site.baseurl }}/categories/#{{ cat[0] }}" title="{{ cat[0] }}" rel="{{ cat[1].size }}">{{ cat[0] }} ({{ cat[1].size }})</a>
{% endfor %}
</div>
</div>
<div class="col-lg-9 col-md-9 col-sm-9">
<ul class="listing">
{% for post in paginator.posts %}
  <!-- {% capture y %}{{post.date | date:"%Y"}}{% endcapture %} -->
  <!-- {% if year != y %} -->
    <!-- {% assign year = y %} -->
    <!-- <li class="listing-seperator">{{ y }}</li> -->
  <!-- {% endif %} -->
  <li class="listing-item">
     
    <a attr='title' class="indexTitle" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>

    
    <a class="abstract" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
    <div attr='zhaiyao' class="zhaiyao">
    {{ post.excerpt | strip_html }}…    
    </div></a>

        <time class="indexTime" datetime="{{ post.date | date:"%Y-%m-%d" }}">作者：{{ site.author }} | | 日期：{{ post.date | date:"%Y-%m-%d" }}</time>
  </li>
{% endfor %}
</ul>

<div id="post-pagination" class="paginator">

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="{{ site.baseurl }}/"><前页</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}"><前页</a>
    {% endif %}
  {% else %}
    <span class="previous disabled"><前页</span>
  {% endif %}

      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="{{ site.baseurl }}/">1</a>
      {% endif %}

    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="{{ site.baseurl }}/page{{count}}">{{count}}</a>
      {% endif %}
    {% endfor %}

  {% if paginator.next_page %}
    <a class="next" href="{{ site.baseurl }}/page{{paginator.next_page}}">后页></a>
  {% else %}
    <span class="next disabled" >后页></span>
  {% endif %}
  (共{{ paginator.total_posts }}篇)
</div>
</div>


 <script>

var oUl=document.getElementsByClassName('listing')[0];
var lis=oUl.children;
var title=document.getElementsByClassName('indexTitle')
var abstract=document.getElementsByClassName('abstract')
for(var i=0;i<lis.length;i++){
  abstract[i].onmouseover=function(){
    this.style.color='#496fdb';
    this.parentNode.children[0].style.color='#496fdb';
  }
  abstract[i].onmouseout=function(){
    this.style.color='#a3a3a3';
    this.parentNode.children[0].style.color='#404040';
  }
    title[i].onmouseover=function(){
    this.style.color='#496fdb';
  }
  title[i].onmouseout=function(){
    this.style.color='#404040';

  }
}
</script>
<!-- { include comments.md %} -->
<script src="{{ site.baseurl }}/media/js/jquery.tagcloud.js" type="text/javascript" charset="utf-8"></script> 
<!--  
<script language="javascript">
$.fn.tagcloud.defaults = {
    size: {start: 1, end: 1, unit: 'em'},
      color: {start: '#ff3333', end: '#ff3333'},
};

$(function () {
    $('#tag_cloud a').tagcloud();
});
</script>-->