<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="author" content="{{ site.author }}">
    <meta http-equiv="description" content="This is my Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Page-Enter" contect="revealTrans(duration=2.0,transtion= 10)">
    <meta http-equiv="Page-Exit" contect="revealTrans(duration=2.0,transtion= 21)">
    <meta http-equiv="keywords" content="唐海宸,博客,html,js,css,nodejs,express,生活">
    <title>{{ page.title }}</title>
    <!-- <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico"> -->
    <link rel="icon" href="{{ site.baseurl }}/media/img/favicon.ico">
    <link rel="stylesheet" href="{{ site.baseurl }}/media/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/media/css/style.css">
    <script type="text/javascript" src="{{ site.baseurl }}/media/js/jquery-1.11.1.js"></script>
    <script src="{{ site.baseurl }}/media/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/media/css/highlight.css">
</head>

<body>
    <nav class="navbar navbar-default all-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#q" id="rigto">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ site.baseurl }}/" class="logo"><img style="width:200px ;" src="{{ site.baseurl }}/media/img/thc.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="q">
            <ul class="nav navbar-nav navbar-right">
            <li>
            <div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
            <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px" placeholder="文章标题 标签">
            <div style="position: fixed; top: 16px; right: 16px;">
                <img src="{{ site.baseurl }}/search/img/cb-close.png" id="cb-close-btn" />
            </div>
        </div>
          <input type="text" class="form-control" placeholder="点此搜索自己喜欢的文章  (双击ctrl试一下)" id="cb-search-btn" title="双击ctrl试一下">
            </li>
                <li><span><a title="home page" class="" href="{{ site.baseurl }}/">首页</a></span></li>
                <!-- <li> <span><a title="categories" class="" href="{{ site.baseurl }}/categories/">分类</a></span></li> -->
                <li> <span><a title="tags" class="" href="{{ site.baseurl }}/tags/">标签</a></span></li>
                 <li> <span><a title="categories" class="" href="{{ site.baseurl }}/categories/followheart/">随笔</a></span></li>
                <li><span><a title="about" class="" href="{{ site.baseurl }}/about/">关于我</a></span></li>
            </ul>
        </div>
    </nav>
{{ content }}
    <footer>
        <p><small>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a> | Copyright 2012 - {{site.time | date:"%Y"}} by <a href="/about/">nswebfrog</a></small></p>

        <link rel="stylesheet" href="{{ "/search/css/cb-search.css " | prepend: site.baseurl }}">
        <script src="{{ "/search/js/bootstrap3-typeahead.min.js " | prepend: site.baseurl }}"></script>
        <script src="{{ "/search/js/cb-search.js " | prepend: site.baseurl }}"></script>
    </footer>
</body>

</html>